name: falmodel
description: A new Flutter package project.
version: 1.3.2
publish_to: none

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  faltool:
    path: ../faltool

  #PLATFORM: All
  dio: ^5.7.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
